/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Actual CSS starts here */

@font-face {
    font-family: 'Norse Bold';
    src: url('./Norse-Bold.otf');
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

body, html {
    display: flex;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #F9FAFB;
}

em {
    font-style: italic;
}

a {
    text-decoration-line: underline;
    color: white;
}

a:visited {
    color: gray;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 550px;
    min-height: 100vh;
    height: 100%;
    /* height: 100vh; */
    background-image: url("./arun-clarke-5vLPyrbf5Tc-unsplash.jpg");
    background-position-y: -400px;
    background-size: 250%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 225px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 12px;
    font-family: 'Norse Bold', sans-serif;
    color: white;
    font-size: 6rem;
}

.logoImage {
    width: 100px;
}

.credit {
    color: white;
    margin-top: auto;
    text-align: center;
    align-self: center;
    margin-bottom: 12px;
}

.main {
    flex: 1;
    --left-offset: 50px;
}

.text {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 120%;
}

.blurb {
    margin-top: 50px;
    width: 700px;
    padding-left: var(--left-offset);
}

.form {
    margin-top: 40px;
}

.inputSection {
    height: 300px;
    padding-left: var(--left-offset);
    padding-top: 24px;
    background-color: white;
    box-shadow: 0px 3px 6px lightgray;
}

.createAccountButton {
    margin-left: var(--left-offset);
    margin-top: 40px;
    background-color: #596D48;
    color: white;
    border: 0;
    border-radius: 8px;
    padding: 16px 60px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1.1rem;
    box-shadow: 2px 2px 4px lightgray;
}

.alreadyHaveAccount {
    padding-left: var(--left-offset);
    margin-top: 40px;
    margin-bottom: 24px;
    font-size: 1.1rem;
}

.alreadyHaveAccount a {
    text-decoration: none;
    color: #596D48;
    font-weight: 700;
}